        <div class="container  mx-auto  d-inline-flex flex-column border-top pt-5  rounded bg-dark">
    <div class="row text-center ">
        <div class="col-*-2">
            <img class="rounded " src="/images/hal_icon.png" width="50%" />
        </div>
        <div class="col-*-2 mx-auto">
                <p class="text-white  text-center float-left" id="p">
                    R&eacute;alis&eacute; par :<br />
                    Oc&eacute;ane Jousselme<br />
                    Simon Verdu <br />
                    Vincent Toinon<br />
                </p>
        </div>
        <div class="col-*-2 ">
             <img class=" rounded " src="/images/logo-lyon1.jpg" width="50%" />
        </div>
    </div>

</div>




