<header>
    <div class="container mx-auto">

        <img src="/images/bandeau.jpg" width="100%" alt="bandeau_hal_univlyon1" />

    </div>

    <div class="container">
        <nav class="navbar navbar-inverse nav-justified mh-100">
            <ul class="nav text-justify mr-auto">

                <li class="nav-item">
                    <a class="nav-link text-white" href="/">Accueil</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link text-white" href="/listeStructures">Liste des Structures</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link text-white" href="#">Témoignages</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link text-white" href="#">About us</a>
                </li>

            </ul>


            <form class="navbar-form inline-form" action="/rechercher" method="get">

                <div class="form-group">

                    <input type="search" class="input-sm form-control" placeholder="Rechercher..." name="searchI">

                    <input type="submit" class="btn btn-primary btn-sm" value="Chercher">
                    

                </div>

            </form>
        </nav>
    </div>
